<%= form_with(model: orden, local: true) do |form| %>
  <% if orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
      <% orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombreOrden %>
    <%= form.text_field :nombreOrden, id: :orden_nombreOrden, required: true %>
  </div>

  <div class="field">
    <h2>Clase a la que pertenece</h2>
    <%= form.select :clase_id, Clase.all.collect {|f| [ f.nombreClase, f.id ] }, class: 'form-control', required: true %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
