<p id="notice"><%= notice %></p>

<h1>Ordenes</h1>

<table>
  <thead>
    <tr>
      <th>Nombreorden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordens.each do |orden| %>
      <tr>
        <td><%= orden.nombreOrden %></td>
        <td><%= link_to 'Ver', orden %></td>
        <td><%= link_to 'Editar', edit_orden_path(orden) %></td>
        <td><%= link_to 'Eliminar', orden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Orden', new_orden_path %>
