<%= form_with(model: familium, local: true) do |form| %>
  <% if familium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(familium.errors.count, "error") %> prohibited this familium from being saved:</h2>

      <ul>
      <% familium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>Nombre Familia</h2>
    <%= form.text_field :nombreFamilia, id: :familium_nombreFamilia, required: true %>
  </div>

  <div class="field">
    <h2>Orden al que pertenece</h2>
    <%= form.select :orden_id, Orden.all.collect {|f| [ f.nombreOrden, f.id ] }, class: 'form-control', required: true %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
