<p id="notice"><%= notice %></p>

<h1>Familia</h1>

<table>
  <thead>
    <tr>
      <th>Nombrefamilia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @familia.each do |familium| %>
      <tr>
        <td><%= familium.nombreFamilia %></td>
        <td><%= link_to 'Ver ', familium %></td>
        <td><%= link_to 'Editar ', edit_familium_path(familium) %></td>
        <td><%= link_to 'Eliminar ', familium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Familia', new_familium_path %>
