<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :usuario_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido1 %>
    <%= form.text_field :apellido1, id: :usuario_apellido1 %>
  </div>

  <div class="field">
    <%= form.label :apellido2 %>
    <%= form.text_field :apellido2, id: :usuario_apellido2 %>
  </div>

  <div class="field">
    <%= form.label :cedula %>
    <%= form.text_field :cedula, id: :usuario_cedula %>
  </div>

  <div class="field">
    <%= form.label :nombreUsuario %>
    <%= form.text_field :nombreUsuario, id: :usuario_nombreUsuario %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :usuario_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
