<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido1:</strong>
  <%= @usuario.apellido1 %>
</p>

<p>
  <strong>Apellido2:</strong>
  <%= @usuario.apellido2 %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @usuario.cedula %>
</p>

<p>
  <strong>Nombreusuario:</strong>
  <%= @usuario.nombreUsuario %>
</p>

<p>
  <strong>Password:</strong>
  <%= @usuario.password %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
