<%= form_with(model: reino, local: true) do |form| %>
  <% if reino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reino.errors.count, "error") %> prohibited this reino from being saved:</h2>

      <ul>
      <% reino.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombreReino %>
    <%= form.text_field :nombreReino, id: :reino_nombreReino, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar reino"%>
  </div>
<% end %>
