<p id="notice"><%= notice %></p>

<h1>Reinos</h1>

<table>
  <thead>
    <tr>
      <th>Nombrereino</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reinos.each do |reino| %>
      <tr>
        <td><%= reino.nombreReino %></td>
        <td><%= link_to 'Ver', reino %></td>
        <td><%= link_to 'Editar', edit_reino_path(reino) %></td>
        <td><%= link_to 'Eliminar', reino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Reino', new_reino_path %>
