<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @inventario.nombre %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @inventario.ubicacion %>
</p>

<%= link_to 'Edit', edit_inventario_path(@inventario) %> |
<%= link_to 'Back', inventarios_path %>
